*DS_Store*
*.orig
*.cache
*(Autosaved)*
*.log
*.status
*~
*deps/*.*o
*/*deps/*.*o
*/*/*deps/*.*o
*/*/*/*deps/*.*o
*/*/*/*/*deps/*.*o
libtool
include/config.h
include/stamp-h*
compat/Makefile
examples/Makefile
examples/*/Makefile
include/Makefile
tests/Makefile
CoreFoundation.pc
*.o
*.lo
*.la
*.a
Makefile
CF-Objects/*
dist/*
macosx/build/*
*.build
*.pbxuser
*.perspectivev3
confdefs.h
conftest*
conf*/*.awk
